.product-descr {
  &__title {
    margin-bottom: 24px;
  }

  &__content {
    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    & a {
      color: var(--green);
    }
  }

  @include media-min ($xl) {
    &__content {
      margin-bottom: 0;

      & a {
        transition: text-decoration-color .2s ease-in-out;

        &:hover {
          text-decoration-color: transparent;
        }
      }
    }
  }
}
