.product {
  &__top {
    margin-bottom: 30px;
  }

  &__meta {
    display: grid;
    gap: 30px;
    margin-top: 30px;
  }

  &__info {
    display: grid;
    row-gap: 30px;
  }

  &__docs {
    display: grid;
    row-gap: 12px;
  }

  @include media-min ($md) {
    &__meta {
      grid-template-columns: auto auto;
      align-items: start;
      justify-content: start;
    }

    &__info {
      max-width: 730px;
    }
  }

  @include media-min ($xl) {
    &__top {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;
    }

    &__meta {
      grid-template-columns: none;
      margin: 0;
      margin-left: 30px;
    }
  }
}
