.product-price {
  display: grid;
  row-gap: 16px;
  padding: 20px;
  border: 1px solid var(--black-20);
  border-radius: 4px;
  min-width: 255px;

  &__cost {
    display: grid;
    row-gap: 8px;

    & del {
      color: var(--black-60);
    }
  }

  &__status {
    position: relative;
    color: var(--green);
    padding-left: 26px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.67735 13.337C6.44507 13.3384 6.22144 13.249 6.0542 13.0881L0.712922 7.87918C0.544111 7.71416 0.447867 7.48893 0.445363 7.25305C0.442858 7.01717 0.534299 6.78996 0.699568 6.6214C0.864838 6.45284 1.0904 6.35674 1.32663 6.35424C1.56286 6.35174 1.79041 6.44304 1.95922 6.60807L6.67735 11.1947L14.0305 3.81696C14.1981 3.64958 14.4255 3.55554 14.6626 3.55554C14.8996 3.55554 15.127 3.64958 15.2946 3.81696C15.4622 3.98434 15.5564 4.21136 15.5564 4.44807C15.5564 4.68478 15.4622 4.9118 15.2946 5.07918L7.2827 13.0792C7.1213 13.2392 6.9047 13.3314 6.67735 13.337Z' fill='%23008E3F'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;

    &--none {
      color: var(--red);
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.00996 8.00009L12.7905 4.21944C13.0698 3.94016 13.0698 3.48874 12.7905 3.20946C12.5113 2.93018 12.0599 2.93018 11.7806 3.20946L8 6.99011L4.21942 3.20946C3.94015 2.93018 3.48873 2.93018 3.20946 3.20946C2.93018 3.48874 2.93018 3.94016 3.20946 4.21944L6.99004 8.00009L3.20946 11.7807C2.93018 12.06 2.93018 12.5114 3.20946 12.7907C3.34874 12.93 3.53159 13 3.71444 13C3.89729 13 4.08014 12.93 4.21942 12.7907L8 9.01007L11.7806 12.7907C11.9199 12.93 12.1027 13 12.2856 13C12.4684 13 12.6513 12.93 12.7905 12.7907C13.0698 12.5114 13.0698 12.06 12.7905 11.7807L9.00996 8.00009Z' fill='%23FF4A11'/%3E%3C/svg%3E ");
    }
  }
}
