.main-actions {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    color: var(--green);
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    gap: 20px;
  }

  @include media-min ($md) {
    padding-bottom: 40px;

    &__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  @include media-min ($xl) {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 50px;
    }
  }
}
