.main-advantages {
  padding-top: 15px;
  padding-bottom: 60px;

  &__list {
    display: grid;
    gap: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: var(--accent);
    border-radius: 50%;
    flex-shrink: 0;

    & svg {
      width: 35px;
      height: 35px;
    }
  }

  &__text {
    margin-left: 20px;
  }

  @include media-min ($md) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      column-gap: 30px;
    }
  }

  @include media-min ($xl) {
    padding-top: 30px;

    &__list {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 24px;
      column-gap: 30px;
    }

    &__icon {
      width: 64px;
      height: 64px;

      & svg {
        width: 42px;
        height: 42px;
      }
    }
  }
}
