.checkout {
  &__fields {
    display: grid;
    row-gap: 20px;
    margin-bottom: 20px;
  }

  &__fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    padding: 24px;
    padding-top: 70px;
    border: 1px solid var(--black-20);
    border-radius: 4px;

    & legend {
      position: absolute;
      top: 0;
      left: 0;
      padding: 24px;
    }
  }

  &__grid {
    display: grid;
    gap: 20px;
  }

  &__delivery-descr {
    display: block;
    margin-top: 10px;
  }

  &__total {
    display: grid;
    row-gap: 24px;
  }

  &__optional {
    display: contents;
  }

  @include media-min ($md) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }

    &__fullwidth {
      grid-column: -1 / 1;
    }
  }

  @include media-min ($xl) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    align-items: start;

    &__fields {
      grid-column: span 9;
      margin-bottom: 0;
    }

    &__grid {
      gap: 30px;
    }

    &__total {
      grid-column: span 3;
      position: sticky;
      top: 60px;
    }
  }
}

.checkout-pickup {
  &__title {
    font-weight: 600;
    margin: 24px 0;
  }

  &__list {
    display: grid;
    row-gap: 20px;
  }

  &__label {
    display: grid;
    row-gap: 10px;
  }

  &__shedule {
    display: grid;
  }
}
