.btn {
  --btn-bg: var(--accent);
  --hov: #FCE600;
  --act: #F28F00;
  --icon-color: var(--text-btn);
  --icon-width: 14px;
  --icon-height: 14px;
  --timing: .2s;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.375;
  padding: 14px 26px;
  color: var(--text-btn);
  background-color: var(--btn-bg);
  border: 2px solid var(--btn-bg);
  border-radius: 4px;
  text-decoration: none;
  transition: color var(--timing) ease-in-out, background-color var(--timing) ease-in-out, border-color var(--timing) ease-in-out;

  &:active {
    background-color: var(--act);
    border-color: var(--act);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    filter: grayscale(1) opacity(0.4);
  }

  &--bordered {
    --icon-color: var(--accent);

    background-color: transparent;

    &:active {
      background-color: transparent;
    }
  }

  &--light {
    --icon-color: var(--accent);

    background-color: var(--white);
    border-color: var(--white);

    &:active {
      --icon-color: var(--white);

      color: var(--white);
      background-color: transparent;
      border-color: var(--white);
    }
  }

  &__icon {
    flex-shrink: 0;
    width: var(--icon-width);
    height: var(--icon-height);
    margin-right: 10px;
    color: var(--icon-color);
    transition: color var(--timing) ease-in-out;
  }

  @include media-min ($xl) {
    &:hover {
      background-color: var(--hov);
      border-color: var(--hov);
    }

    &:active {
      background-color: var(--act);
      border-color: var(--act);
    }

    &--bordered {
      &:hover {
        background-color: transparent;
        border-color: var(--hov);
      }

      &:active {
        background-color: transparent;
      }
    }

    &--light {
      &:hover {
        --icon-color: var(--white);

        color: var(--white);
        background-color: transparent;
        border-color: var(--white);
      }

      &:active {
        --icon-color: var(--white);

        color: var(--white);
        background-color: transparent;
        border-color: var(--white);
      }
    }
  }
}
