.callback-group {
  display: grid;
  justify-items: start;
  justify-content: start;

  & a {
    color: inherit;
    text-decoration-color: transparent;
    font-size: 22px;
    font-weight: 600;
  }

  & button {
    color: var(--accent);
    text-decoration-line: underline;
    text-decoration-color: transparent;
  }

  @include media-min ($xl) {
    & a {
      transition: color .2s ease-in-out, text-decoration-color .2s ease-in-out;

      &:hover {
        color: var(--accent);
        text-decoration-color: var(--accent);
      }
    }

    & button {
      transition: text-decoration-color .2s ease-in-out;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }
}
