.catalog-cat-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--black-20);
  border-radius: 4px;
  overflow: hidden;

  &__icon {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
  }

  &__link {
    font-weight: 600;
    color: var(--black-100);
    text-decoration: none;
    padding: 20px;
    outline: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      z-index: 1;
      transition: box-shadow .2s ease-in-out;
    }

    &:focus:not(:hover) {
      &::after {
        box-shadow: inset 0 0 0 1px var(--white), inset 0 0 0 2px var(--accent);
      }
    }
  }

  @include media-min ($md) {
    &__icon {
      width: 80px;
      height: 80px;
    }

    &__link {
      padding: 10px;
    }
  }

  @include media-min ($xl) {
    transition: border-color .2s ease-in-out;

    &:hover {
      border-color: var(--accent);
    }

    &__icon {
      width: 150px;
      height: 150px;
    }

    &__link {
      padding: 25px;

      & > span {
        --width: 0.25em;

        transition: background .2s ease-in-out;
        background-image: linear-gradient(to top, var(--accent) var(--width), transparent var(--width));
        background-repeat: no-repeat;
        background-position-y: var(--width);
      }

      &:hover {
        & > span {
          background-position-y: -2px;
        }
      }
    }
  }
}
